github "dimitarnestorov/DNLoginServiceKit" "v1.0.0"
github "getsentry/sentry-cocoa" "5.0.0-beta.4"
github "devinfoley/Squirrel.Mac" "fix_shipit_build"
github "PrivateFrameworks/PrivateMediaRemote" "v0.0.0"
