<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBShowArtist</key>
	<true/>
	<key>MBShowTitle</key>
	<true/>
	<key>MBShowAlbum</key>
	<false/>
	<key>MBShowRemainingTime</key>
	<false/>
	<key>MBHideTextWhenPaused</key>
	<false/>
	<key>MBIcon</key>
	<string></string>
	<key>MBIconWhilePlaying</key>
	<string></string>
	<key>MBMaximumWidth</key>
	<integer>400</integer>
	<key>MBEnableErrorReporting</key>
	<false/>
	<key>MBEnableAutomaticUpdates</key>
	<false/>
</dict>
</plist>
